<header class="animated fadeIn full headCover">

        <div class="container coverHome">
           
            <div class="col-sm-12">

            <h1 class="blog-title">FREE BEFORE 30 </h1>
               
                <p class="blog-description"><b>6 FRIENDS - 6 YEARS - 6 DREAMS</b><br> Bacon ipsum dolor amet rump t-bone jerky sirloin salami, pork biltong shoulder corned beef spare ribs chuck hamburger. Tongue salami ground round, alcatra pig sirloin andouille jowl doner pancetta rump prosciutto corned beef landjaeger. Meatball prosciutto capicola bacon, biltong t-bone andouille pancetta jerky venison pork.</p>
                 <button type="button" class="center-block myButton btn btn-1 btn-1b ">Read Some Stories
            <span class="glyphicon glyphicon-chevron-down"></span></button>
            </div>



        </div>


</header>
